version: "3.9"

services:
  vue-app:
    build: .
    container_name: vue-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true